@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mulish&display=swap");

.solitude {
  display: flex;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  background-color: hsl(0, 0%, 6%);
}

.text {
	max-width: 100%;
  color: hsl(0, 0%, 6%);
	font-size: 400px;
  border: none;
  text-shadow: 5px 5px 20px hsl(30, 9%, 9%), -5px -5px 20px hsl(0, 0%, 9%),
    -5px 5px 20px hsl(190, 9%, 9%), 5px -5px 20px hsl(0, 0%, 9%);
	font-weight: 1000;
	user-select: none;
}

.text:hover{
	color: hsl(0, 0%,60%);
}