.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.intro-heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.intro-paragraph {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #3e3e3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}