.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-phase {
  position: relative;
  width: 600px;
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  text-align: center;
}

.me-hero {
  position: absolute;
  font-family: "Fasthand", sans-serif;
  width: 200px;
  height: 100px;
  font-size: 2rem;
  color: #416fa4;
  text-align: center;
  justify-self: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
