body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-name {
  font-size: 10rem;
  font-weight: 600;
  text-transform: uppercase;
}