@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lato&family=Mulish&family=Oswald&display=swap');

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root{
  height: 100%;
  width: 100%;
}